{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="second" options="{static: 1}" label="Other template">
		<flux:form.option name="static" value="0" />
		<flux:field.input name="settings.test" label="Test field" />
	</flux:form>
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="5" colspan="3" name="main" />
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="HeaderAssets">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">
	<h1>Second page template</h1>
	<f:cObject typoscriptObjectPath="lib.default_menu" />
	<f:cObject typoscriptObjectPath="lib.default_content" />
</f:section>
