{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="Configuration">
	<flux:form id="standard" options="{static: 1}">
		<flux:form.option name="static" value="0" />
		<flux:field type="input" name="test" />
	</flux:form>
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="0" colspan="3" name="main" label="Main" />
			<flux:grid.column colPos="1" name="side" label="Side" />
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="HeaderAssets">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
			integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</f:section>

<f:section name="Preview">
</f:section>

<f:section name="Main">
	<v:asset.style>
		.test
	</v:asset.style>
	<v:asset.style path="EXT:test_provider_extension/Resources/Public/Stylesheet/Page.css" standalone="1" rewrite="0" />

	<div id="languages">
		<h2>Languages</h2>
		<v:page.languageMenu as="languageMenu" flagImageType="png">
			LANG
		</v:page.languageMenu>
	</div>
	<div id="menu">
		<h2>Menu</h2>
		<v:menu />
	</div>
	<div id="breadcrumb">
		<h3>Breadcrumb</h3>
		<v:page.breadCrumb />
	</div>
	<div id="body">
		<p><f:link.action action="standard" arguments="{value: 'A value'}">Pass value to controller</f:link.action></p>
		<f:if condition="{value}">
			<h4>Argument passed to controller</h4>
			<p>{value}</p>
		</f:if>

		<v:content.render column="0" slide="-1" />
	</div>
</f:section>
