
<f:layout name="Default" />

<f:sections fromPartial="SomeSections" ignoreUnknown="0" />

<f:section name="Configuration">
    <flux:form id="sectionimports" label="Test: Section imports" description="Test of section imports" extensionName="Test.Testing" />
</f:section>

<f:section name="Main">
    <h2>Section imports</h2>
    <ul>
        <li><f:render section="SectionOne" /></li>
        <li><f:render section="SectionTwo" /></li>
    </ul>
</f:section>

<f:section name="SectionTwo">
    Local section two
</f:section>
