<f:layout name="Default" />

<f:section name="Configuration">
    <flux:form id="container">
        <flux:form.option name="group" value="test" />
        <flux:form.sheet name="options" label="Options">
            <flux:field.select name="settings.displayType" items="normal" />
            <flux:field.relation name="settings.group" size="10" maxItems="10" multiple="1" table="tt_content" />
        </flux:form.sheet>
        <flux:form.sheet name="other" label="Other">
            <flux:field type="input" name="input" label="Input" />
        </flux:form.sheet>
    </flux:form>
    <flux:grid>
        <flux:grid.row>
            <flux:grid.column name="main" colPos="0" label="LLL:flux.frames.columns.content" variables="{deniedContentTypes: 'testing_container'}" />
        </flux:grid.row>
    </flux:grid>
</f:section>

<f:section name="Main">
    <div class="container">
        <flux:content.render area="main" />
    </div>
</f:section>
