<f:layout name="Default" />

<f:section name="Configuration">
    <flux:form id="emailOutlet">
        <flux:field type="input" name="test" label="Test" />
        <flux:outlet>
            <flux:pipe.typeConverter direction="in" typeConverter="Float" targetType="float" property="test" />
            <f:comment>
                <flux:pipe.email subject="Test email" recipient="claus@phpmind.net" sender="claus@phpmind.net" bodySection="EmailBody" />
            </f:comment>
            <flux:pipe.flashMessage message="Email sent!" />
        </flux:outlet>
    </flux:form>
</f:section>

<f:section name="Main">
    <flux:outlet.form>
        Test: <f:form.textfield name="test" />
        <f:form.submit value="Send" />
    </flux:outlet.form>
</f:section>

<f:section name="EmailBody">
    This is the email body.
    You entered: {test.timezone.name}
</f:section>

<f:section name="OutletSuccess">
    {test -> f:debug(inline: 1)}
    <f:flashMessages queueIdentifier="extbase.flashmessages.flux" />
</f:section>

<f:section name="OutletError">
    <p>
        Error!
    </p>
    <p>
        <em>{error.message}</em>
    </p>
</f:section>
